.settings-box {
    width: 100vw;
    height: 90vh;
    --width-preview: 560px;

    .form-container {
        flex-grow: 1;
        margin: var(--dui-spacing-large);
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        overflow-y: auto;
    }

    .card-head {
        display: flex;
        justify-content: space-between;

        .left-header {
            padding: var(--dui-spacing-medium);
        }
        .right-header {
            padding-top: var(--dui-spacing-medium);
            padding-right: var(--dui-spacing-extra-large);
        }
    }

    .save-settings-button {
        float: right;
        margin-top: var(--dui-spacing-medium);
    }
}
