.success-page {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: var(--font-size-extra-large);

    .close-button {
        display: flex;
        justify-content: center;
        padding: var(--dui-spacing-large);
        font-size: xx-large;
    }

    .success-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(89, 168, 89);
        padding: var(--dui-spacing-medium);
        font-size: x-large;

        .content-area {
            display: flex;
            justify-content: center;
            margin: 0px;
        }
    }
}